@import url("https://fonts.googleapis.com/css?family=Heebo:300&display=swap");

:root {
  --primary-color: #000;
  --secundary-color: #fff;
}

html {
  transition: 0.5s ease-in;
}

html.dark {
  --primary-color: #fff;
  --secundary-color: #333;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.toggle {
  background-color: var(--primary-color);
  color: var(--secundary-color);
  border: 0;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 15%;
  cursor: pointer;
}

.toggle:focus {
  outline: 0;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock {
  position: relative;
  width: 15rem;
  height: 15rem;
  /* background-color: #f0f0f0; */
}

.needle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 3px;
  transform-origin: bottom center;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
  z-index: 3;
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
  z-index: 2;
}

.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
  background-color: #e74c3c;
  z-index: 1;
}

.center-point {
  background-color: var(--primary-color);
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.2rem solid #e74c3c;
  border-radius: 50%;
  z-index: 4;
}

.time {
  font-size: 4rem;
}

.date {
  color: #aaa;
  font-size: 1rem;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.date .circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 1.5rem;
  background-color: var(--primary-color);
  color: var(--secundary-color);
  border-radius: 50%;
  transition: 0.5s ease-in;
  font-size: 1rem;
}
