@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

/* components */
img {
  width: 100%;
}

/* utilities */
.text-center {
  text-align: center;
}

.padding-32 {
  padding: 2rem;
}

.flow > * + * {
  margin-top: 1rem;
}

.shadow-400 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
