@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #4682b4;
  color: #fff;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.5rem 2.5rem;
  border-radius: 0.5rem;
}

.container h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.container a {
  text-decoration: none;
  color: #add8e6;
}

.form-control {
  position: relative;
  margin: 1.5rem 0 2.5rem;
  width: 20rem;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 0.1rem #fff solid;
  display: block;
  width: 100%;
  padding: 1rem 0;
  font-size: 1rem;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #add8e6;
  padding: 1rem;
  font-family: inherit;
  font-size: 1rem;
  border: 0;
  border-radius: 0.5rem;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 2rem;
}

.form-control label {
  position: absolute;
  top: 1rem;
  left: 0;
}
