@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0, #f5f7fa 100%);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 600px;
  overflow: hidden;
}

.quiz-header {
  padding: 4rem;
}

.quiz-header h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

.quiz-header small {
  opacity: 0.5;
  font-size: 1rem;
}

.quiz-header ul {
  list-style-type: none;
  padding: 0;
}

.quiz-header ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.quiz-header ul li label {
  cursor: pointer;
}

.quiz-container button {
  background-color: #8e44ad;
  border: none;
  color: #fff;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}

.quiz-container button:focus {
  outline: none;
  background-color: #5e3370;
}

.quiz-container button:hover {
  background-color: #732d91;
}

.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 20px;
  width: 100%;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: -150% 0;
  }
}

label.animated-bg-text {
  width: 90%;
}
